# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd

# virtual environments
venv/
env/
.venv/
ENV/

# =========================
# Python packaging
# =========================
build/
dist/
*.egg-info/
.eggs/

# =========================
# Logs
# =========================
*.log

# =========================
# Environment variables
# =========================
.env
.env.*

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Cache
# =========================
.pytest_cache/
.mypy_cache/

# =========================
# Python runtime cache
# =========================
__pycache__/
*.pyc

# =========================
# Data (opcional)
# =========================
data/

# =========================
# Local config
# =========================
config_local.py
